h2 {
    font-weight: 800;
}

a {
    position: relative;
    text-decoration: none;
    color: rgb(171, 34, 128);
  }
  
  a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px; 
    background-color: rgb(171, 34, 128);
    transition: width 0.3s ease; 
  }
  
  a:hover::after {
    width: 100%; 
  }